

{{range .}}

Dear {{ .Passanger_name}}  

your  request number {{ .Deliveryride_id }} is cancelled 
we want {{ .Modification_text}} to inform you that the Driver is not availble {{ .Comment}}
 

{{end}}
